.pop-up {
    margin: 400px auto;
    font-weight: 400; 
}

.checkout-page {
  width: 750px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
}

.information-box {
  border: 1.5px solid lightgrey;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 15px;
}

.box-title {
  border-bottom: 1.5px solid lightgrey;
  height: 40px;
  margin: 10px;
  margin-bottom: 15px;
}

.box-row {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.type-box {
  width: 65%;
  border: 1.5px solid grey;
  border-radius: 4px;
}

.checkbox {
  margin: 0px 10px 0px 10px;
}

.invalid-text {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.submit-button {
  width: 750px;
  background-color: black;
  color: aliceblue;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 40px;
}

.submit-button:hover {
  background-color: #6100FF;
}
