.load-button {
    color: aliceblue;
    background-color: #1faa51;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 35px;
    margin: 30px auto;
}

.load-button:disabled {
    background-color: grey;
}

.load-button:active {
    background-color: darkgreen;
}

.ProductsDisplay {
    min-height: 80vh;
    padding: 30px;
}