.product-card {
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    padding: 10px;
    background-color: white;
}

img {
    height: 250px;
    width: 250px;
}

.price {
    margin-top: -10px;
    margin-bottom: 0px;
}

