.product-card {
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    padding: 10px;
}

img {
    height: 250px;
    width: 250px;
}

.price {
    margin-top: -10px;
    margin-bottom: 0px;
}

.add-button {
    color: aliceblue;
    background-color: rgb(0, 110, 255);
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 30px;
}