:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-align: center;
}

.displayBoard {
    background-color: #f7f7f7;
}

.add-button {
    color: aliceblue;
    background-color: #1878f4;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 35px;
    margin-left: 10px;
}

.add-button:active {
  background-color: blue;
}